.navbar{
    display: flex;
    justify-content: space-around;
}
.navbar h1{
    color: blueviolet;
}
.navbar ul{
    display: flex;
    padding: 0;
    align-items: center;
}
.navbar li{
    display: flex;
    gap: 20px;
    align-items: center;
}
a{
    text-decoration: none;
    font-size: larger;
    color: black;
}

