nav{
    margin-bottom: 15px;
}
h1{
    text-align: center;
    color: white;
    background-color: blueviolet;
    padding: 15px;
    border: 5px solid black;
    text-decoration: none;

}
a{
    text-decoration: none;
    
}
.Nav-link{
border: 2px solid blueviolet;
padding: 15px;
border-radius: 10px;
}
.Nav-link:hover{
    background-color: lightpink;
}
a:hover{
    font-style: italic;
}
ul{
    display: flex;
    justify-content: space-around;
    font-size: x-large;
    flex-wrap: wrap;
}
@media (max-width: 900px) {
    ul{
font-size: large;
padding: 10px;
    }
}